<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css'>
		<title>Admin</title>
		<style>
			[data-id] {
				cursor: pointer;
			}

			[data-id]:hover {
				font-weight: bold;
			}

			.container {
				display: flex;
				gap: 40px;
				flex: 1;
				overflow: hidden;
			}

			html, body {
				height: 100%;
			}

			nav {
				width: 300px;
				height: 100%;
				overflow-y: auto;
			}

			nav ul {
				list-style-type: none;
				padding: 0;
			}

			#content {
				flex: 1;
			}

			body {
				display: flex;
				flex-direction: column;
				max-width: 1200px;
				margin: 0 auto;
				font-family: monospace;
			}
		</style>
	</head>
	<body>
		<h1>Admin (count: <%= Object.keys(traces).length %>)</h1>

		<div class='container'>
			<nav>
				<ul>
					<li data-id='all' role='button'>
						ALL UPDATES
					</li>
					<% for (const trace of Object.values(traces)) { %>
						<li data-id='<%= trace.traceId ?? trace.commandId %>' role='button'>
							#<%= trace.traceId ?? `(${trace.commandId})` %> - <%= trace.ip %> - <%= trace.updates.length %> updates
						</li>
					<% } %>
				</ul>
			</nav>
			
			<main id='content'></main>
		</div>

		<script>const traces = <%- JSON.stringify(traces) %></script>
		<script>
			function loadTrace(id) {
				if (id === 'all') {
					const allUpdates = Object.values(traces).flatMap(trace => trace.updates.map(update => ({ ...update, id: trace.traceId ?? trace.commandId })))
					allUpdates.sort((a, b) => b.time - a.time) // Sort by timestamp
					
					document.getElementById('content').innerHTML = `
						<h2>All Updates</h2>
						<ol>
							${allUpdates.map((update) => `
								<li>
									${update.kind} ${update.hopCount ?? '(no hops)'} @ ${new Date(update.time).toLocaleString()} #<span data-id='${update.id}'>${update.id}</span>
								</li>
							`).join('')}
						</ol>
					`
					return
				}

				document.getElementById('content').innerHTML = `
					<h2>Trace #${traces[id].traceId ?? '...'} (#${traces[id].commandId})</h2>
					<ol>
						${traces[id].updates.map((update) => `
							<li>
								${update.kind} ${update.hopCount ?? '(no hops)'} @ ${new Date(update.time).toLocaleString()}
							</li>
						`).join('')}
					</ol>
				`
			}

			document.addEventListener('click', (event) => {
				if (event.target.dataset.id) {
					loadTrace(event.target.dataset.id)
					sessionStorage.setItem('traceId', event.target.dataset.id)
				}
			}, { capture: true, passive: true  })

			if (sessionStorage.getItem('traceId') && traces[sessionStorage.getItem('traceId')]) {
				loadTrace(sessionStorage.getItem('traceId'))
			} else {
				loadTrace('all')
			}
		</script>
	</body>
</html>