<!DOCTYPE HTML>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>How Did I Get Here?</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='preconnect' href='https://fonts.googleapis.com'>
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Roboto+Slab:wght@700&family=Source+Serif+4:ital@0;1&display=swap'>
		<link rel='stylesheet' href='/style.css'>
		<link rel='icon' href='/favicon.png'>
		<script defer data-domain='how-did-i-get-here.net' src='https://plausible.io/js/script.js'></script>
	</head>
	<body>
		<!-- This is not my beautiful house. -->
		<!-- This is not my beautiful wife.  -->

		<a class='orpheus-flag' target='_blank' href='https://hackclub.com/'>
			<img src='/orpheus-flag.svg' width='560' height='315' alt='A project by Hack Club' title='A project by Hack Club' />
		</a>

		<header class='header'><%- pageGlobals.logoSvg %></header>

		<section class='terminal'>
			<div class='terminal-inner'>
				<h1>ktr [v<%= pageGlobals.ktrVersion %>]</h1>
				<div class='metadata'>
					<div class='hostinfo'>your device (<%= pageGlobals.userIp %>) -> <%= pageGlobals.serverHost %> (<%= pageGlobals.serverIp %>)</div>
					<div class='date'><%= pageGlobals.isoDate %></div>
				</div>

				<br>

				<div class='row table-header'>
					<div class='host'>Host</div>
					<div class='asn'>ASN</div>
					<div class='network'>Network</div>
					<div class='country'>Region</div>
				</div>
				<!-- TRACEROUTE STREAM -->
			</div>
		</section>
		
		<section class='text'>
			<% if (pageGlobals.paragraphs || pageGlobals.error) { %>
				<div class='generated'>
					<% if (pageGlobals.error) { %>
						<p>Hey, sorry, my traceroute program was buggy or something and crashed when trying to generate this page for you. Below, you can still read an article about how this page would normally work.</p>
						<p>Diagnostic information: <%= pageGlobals.error.message %> (<%= pageGlobals.error.kind %>)</p>
						<p>You might be able to try again in a bit.</p>
					<% } else { %>
						<% for (const paragraph of pageGlobals.paragraphs) { %>
							<p><%= paragraph %></p>
						<% } %>
					<% } %>
				</div>

				<img class='divider' src='/divider.svg' role='separator' alt=''>
				
				<%- pageGlobals.essayHtml %>
			<% } else { %>
				<%# Should never get here, but, y'know, just in case... %>
				<p>Running traceroute...</p>
			<% } %>
		</section>
	</body>
</html>
