<!DOCTYPE HTML>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>How Did I Get Here?</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='preconnect' href='https://fonts.googleapis.com'>
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Lato&display=swap'>
		<link rel='stylesheet' href='/style.css'>
		<link rel='icon' href='/favicon.png'>
	</head>
	<body>
		<img class='header' src='/header.svg' alt='How Did I Get Here: a project by Lexi Mattick and Hack Club'>
		<section class='terminal'>
			<div class='terminal-inner'>
				<h1>ktr [v<%= pageGlobals.ktrVersion %>]</h1>
				<div class='metadata'>
					<div class='hostinfo'>your device (<%= pageGlobals.userIp %>) -> <%= pageGlobals.serverHost %> (<%= pageGlobals.serverIp %>)</div>
					<div class='date'><%= pageGlobals.isoDate %></div>
				</div>

				<br>

				<div class='row table-header'>
					<div class='host'>Host</div>
					<div class='asn'>ASN</div>
					<div class='network'>Network</div>
					<div class='country'>Region</div>
				</div>
				<!-- TRACEROUTE STREAM -->
			</div>
		</section>
		
		<section class='text'>
			<% if (pageGlobals.paragraphs) { %>
				<% for (const paragraph of pageGlobals.paragraphs) { %>
					<p><%= paragraph %></p>
				<% } %>

				<img class='divider' src='/divider.svg' role='separator' alt=''>
				
				<%- pageGlobals.staticTextHtml %>
			<% } else { %>
				<%# Should never get here, but, y'know, just in case... %>
				<p>Running traceroute...</p>
			<% } %>
		</section>
	</body>
</html>
