<ol class='traceroute' id='<%= streamId %>'>
	<% for (let i = 0; i < hops.length; i++) { %>
		<% const hop = hops[i] %>
		
		<% if (hop.kind === 'Pending') { %>
			<% if (isTraceDone && i === 0) { %>
				<li class='no-response'>
					<div class='landmark you'>You are here -></div>
					<%= pageGlobals.userIp %>
					<span class='hide-when-inline-landmark'>(no response)</span>
				</li>
			<% } else if (isTraceDone) { %>
				<li class='no-response'>(no response)</li>
			<% } else { %>
				<% const secs = Math.round(Math.max(Date.now() - hop.since, 0) / 1000) %>
				<% if (secs >= 1) { %>
					<li class='pending'>(waiting for reply... <%= secs %>s)</li>
				<% } else { %>
					<li class='pending'>(waiting for reply)</li>
				<% } %>
			<% } %>
		<% } else { %>
			<li class='row'>
				<div class='host'>
					<% if (i === hops.length - 1) { %>
						<div class='landmark server'>
							Our server
							<span class='hide-when-inline-landmark'>-></span>
						</div>
					
						<span class='hide-when-inline-landmark'>
							<%= hop.hostname ?? hop.ip %>
						</span>
					<% } else if ((isTraceDone && i === 0) || hop.ip === pageGlobals.userIp) { %>
						<div class='landmark you'>
							You
							<span class='hide-when-inline-landmark'>are here</span>
							->
						</div>
						<%= hop.hostname ?? hop.ip %>
					<% } else { %>
						<%= hop.hostname ?? hop.ip %>
					<% } %>
				</div>

				<% if (hop.kind === 'Done') { %>
					<div class='asn'>AS<%= hop.networkInfo?.asn ?? '???' %></div>
					<div class='network'><%= hop.networkInfo?.network?.name ?? '' %></div>
					<div class='country'>
						<% const scope = hop.networkInfo?.network?.geographicScope %>
						<% if (scope && scope !== 'Other' && scope !== 'Regional') { %>
							<%= scope %>
						<% } else if (scope === 'Regional') { %>
							(Regional)
						<% } %>
					</div>
				<% } else { %>
					<div class='asn'></div>
					<div class='network'></div>
					<div class='country'></div>
				<% } %>
			</li>
		<% } %>
	<% } %>
</ol>