<script>
	document.getElementById('<%= lastStreamId %>').outerHTML = `<div id="<%= streamId %>">${<%- JSON.stringify(html) %>}</div>`
</script>
<noscript>
	<style>#<%= lastStreamId %> { display: none; }</style>
	<%- html %>
</noscript>
